<!DOCTYPE html>
<html ng-app="bar-app">
    <head>
        <meta name="format-detection" content="telephone=no">
        <meta name="msapplication-tap-highlight" content="no">
        <meta name="viewport" content="initial-scale=1, width=device-width, viewport-fit=cover">

        <!-- Onsen & AngularJS & Disco -->
        <link rel="stylesheet" href="lib/onsen/css/onsenui.min.css"/>
        <link rel="stylesheet" href="lib/onsen/css/onsen-css-components.min.css"/>
        <script src="lib/angular.min.js"></script>
        <script src="lib/onsen/js/onsenui.min.js"></script>
        <script src="lib/onsen/js/angularjs-onsenui.js"></script>
        <script src="lib/disco.js"></script>

        <!-- App resources -->
        <script src="js/app.js"></script>
        <script src="js/estoque.js"></script>
        <script src="js/evento.js"></script>
        <script src="js/usuario.js"></script>
        <link rel="stylesheet" href="css/app.css"/>

        <title>Tio Bola</title>
    </head>
    <body ng-controller="barController">

        <ons-page>

            <div id="divLoad"
                 style="display: none;
                        position: absolute;
                        height: 100vh;
                        width: 100%;
                        background-color: rgb(200, 200, 200, 0.4);
                        z-index: 999;">
                <ons-card style="width: 200px;min-width: auto;margin: auto;margin-top: 45vh;">
                    <ons-row>
                        <ons-col style="padding: 10px;" vertical-align="center">
                            <ons-icon size="30px" spin icon="fa-circle-o-notch"></ons-icon>
                        </ons-col>
                        <ons-col style="padding: 10px;" vertical-align="center">
                            Carregando...
                        </ons-col>
                    </ons-row>
                </ons-card>
            </div>

            <div id="carrinho" class="carrinho">
                <div class="limitador">
                    <ons-row>
                        <ons-col style="padding: 9px 2px 5px 3px;font-size: 12px;" width="130px">
                            <ons-switch ng-model="retirarBar" style="margin-top:-5px;"
                                        ng-click="retirarSwitch(this.retirarBar)"></ons-switch>&nbsp;Retirar no bar
                        </ons-col>
                        <ons-col style="padding: 12px 2px 5px 2px;">
                            <ons-progress-bar value="{{carrinho.percentual}}" secondary-value="100"></ons-progress-bar>
                        </ons-col>
                        <ons-col style="padding: 10px 10px 5px 10px;font-size: 12px;" width="120px" id="labelFreteGratis">
                            Frete {{carrinho.frete| currency: 'R$ '}}
                        </ons-col>
                    </ons-row>
                    <ons-row style="text-align: center;">
                        <ons-col width="35%">
                            <ons-button id="btnDetalhes" style="height: 30px;" ng-click="abrirDetalhes()">
                                Detalhes
                            </ons-button>
                            <ons-button id="btnDetalhesFechar" style="display: none;height: 30px; "ng-click="fecharDetalhes()">
                                Minimizar
                            </ons-button>
                        </ons-col>
                        <ons-col width="35%" ng-click="finalizarCarrinho()">
                            <ons-button>Finalizar</ons-button>
                        </ons-col>
                        <ons-col width="30%" style="font-size: 20px;padding: 5px;">
                            {{(carrinho.valor+carrinho.frete)| currency: 'R$ '}}
                        </ons-col>
                    </ons-row>
                    <div id="detalhesCarrinho" style="display: none;">
                    <p style="padding: 0px 20px;margin-bottom: 0px;text-align: center;"> Lista de itens no carrinho </p>

                    <ons-row ng-repeat="item in carrinho.produtos">
                        <ons-col style="padding: 10px 10px 5px 10px;">
                            {{item.marca}} - {{item.nome}}
                        </ons-col>
                        <ons-col style="padding: 0px 10px 5px 10px;font-size: 12px;" width="100px" >
                            <ons-button modifier="quiet" style="padding: 0px 7px;" ng-click="removerCarrinho(item.id_produto)">
                                <ons-icon icon="fa-minus"></ons-icon>
                            </ons-button>
                            X {{item.qtPedido}}
                            <ons-button modifier="quiet" style="padding: 0px 7px;" ng-click="adicionarCarrinho2(item)">
                                <ons-icon icon="fa-plus"></ons-icon>
                            </ons-button>
                        </ons-col>
                        <ons-col style="padding: 10px 10px 5px 10px;font-size: 14x;" width="100px" >
                            {{item.vlPedido| currency: 'R$ '}}
                        </ons-col>
                    </ons-row>
                    </div>
                </div>
            </div>

            <ons-dialog var="finalizaPedido">
              <div style="text-align: center; padding: 10px;">
                  <ons-list ng-init="formaPagamento='C'">
                    <ons-list-header>Forma de Pagamento</ons-list-header>

                    <ons-list-item tappable>
                      <label class="left">
                        <ons-radio name="formaPagamento" input-id="radio-2" ng-model="endData.formaPagamento" value="C"></ons-radio>
                      </label>
                      <label for="radio-2" class="center">
                        Cartão
                      </label>
                    </ons-list-item>

                    <ons-list-item tappable>
                      <label class="left">
                        <ons-radio name="formaPagamento" input-id="radio-1" ng-model="endData.formaPagamento" value="D"></ons-radio>
                      </label>
                      <label for="radio-1" class="center">
                        Dinheiro
                      </label>
                    </ons-list-item>

                  </ons-list>
                <p ng-if="endData.formaPagamento=='D'">
                  <ons-input id="troco" class="form-element" modifier="underbar" placeholder="Troco para?" ng-model="endData.troco"float></ons-input>
                </p>
                <p>
                    <label>Observação</label>
                    <textarea id="observacao" rows="3" style="width: 100%;" ng-model="endData.observacao"></textarea>
                </p>
                <p>
                  <ons-button ng-click="finalizaPedido.hide()" class="vermelho">Voltar</ons-button>
                  <ons-button ng-click="enviarCarrinho(endData)">Confirmar</ons-button>
                </p>
              </div>
            </ons-dialog>

            <ons-splitter var="mySplitter" ng-init="init()" onDeviceBackButton="alert('voltar splitter');">
              <ons-splitter-side page="views/menu.html" side="left" width="220px" collapse swipeable></ons-splitter-side>
              <ons-splitter-content page="views/menu-novidades.html"></ons-splitter-content>
            </ons-splitter>

        </ons-page>



    </body>
</html>
