<ons-page ng-controller="estoqueController">
  <ons-toolbar>
    <div class="left">
      <ons-toolbar-button ng-click="mySplitter.left.open()">
          <ons-toolbar-button ng-if="!myNavigator.topPage.data.back" ng-click="mySplitter.left.open()">
            <ons-icon icon="md-menu"></ons-icon>
          </ons-toolbar-button>
          <div class="left" ng-if="myNavigator.topPage.data.back"><ons-back-button></ons-back-button></div>
      </ons-toolbar-button>
    </div>
    <div class="center">
      Tio Bola
    </div>
    <div class="right">
        <ons-toolbar-button>
            <ons-icon icon="fa-beer"></ons-icon>&nbsp;R$ 0,00
        </ons-toolbar-button>
    </div>
  </ons-toolbar>

  <div class="limitador">
      <ons-list ng-init="initProdutosList(myNavigator.topPage.data.idTipo)">

         <ons-list-header>{{nmTipo}}</ons-list-header>

         <ons-list-item ng-repeat="item in produtos" modifier="chevron" tappable ng-click="load('produto.html', {idProduto: item.id_produto, back: true})">
           <div class="left">
             <img class="list-item__thumbnail" ng-src="{{item.foto}}">
           </div>
           <div class="center">
             <span class="list-item__title">{{item.marca}} - {{item.nome}}</span>
             <span class="list-item__subtitle">{{item.sub_tipo}} - {{item.qt}}</span>
           </div>
           <div class="right" style="font-size: 14px;width: 100px;">
               {{item.valor| currency: 'R$ '}}
           </div>
        </ons-list-item>

        <ons-list-item ng-if="produtos.length==0">
             Nenhum item encontrado.
       </ons-list-item>

      </ons-list>
  </div>
  <div class="rodape"></div>
</ons-page>
