<ons-page>
    <div class="menu-bio" ng-if="usuario">
        <img src="img/user.gif" class="menu-img-bio">
        {{usuario.nome}}
    </div>
    <div class="menu-bio" ng-if="!usuario">
        <ons-button ng-click="loadMenu('views/cadastro.html')" modifier="quiet">Cadastro/Login</ons-button>
    </div>
    <ons-list>
      <ons-list-item ng-click="loadMenu('views/menu-novidades.html')" tappable class="cor-detalhe">
        <div style="width: 30px"><ons-icon icon="fa-newspaper"></ons-icon></div> Novidades
      </ons-list-item>

      <ons-list-item ng-click="loadMenu('views/menu-produtos.html')" tappable>
        <div style="width: 30px"><ons-icon icon="fa-beer"></ons-icon></div> Produtos
      </ons-list-item>

      <ons-list-item ng-click="loadMenu('views/obras.html')" tappable>
        <div style="width: 30px"><ons-icon icon="fa-tint"></ons-icon></div> Torneiras
      </ons-list-item>

      <ons-list-item ng-click="loadMenu('views/pedidos.html')" tappable>
        <div style="width: 30px"><ons-icon icon="fa-shopping-basket"></ons-icon></div> Pedidos
      </ons-list-item>


      <ons-list-item ng-click="loadMenu('views/menu-eventos.html')" tappable>
        <div style="width: 30px"><ons-icon icon="fa-calendar-alt"></ons-icon></div> Eventos
      </ons-list-item>



      <ons-list-item ng-click="loadMenu('views/tabeerna.html')" tappable>
        <div style="width: 30px"><ons-icon icon="fa-trophy"></ons-icon></div> Tabeerna
      </ons-list-item>



      <ons-list-item ng-click="loadMenu('views/obras.html')" tappable>
        <div style="width: 30px"><ons-icon icon="fa-camera"></ons-icon></div> Galeria
      </ons-list-item>

      <ons-list-item ng-click="loadMenu('views/obras.html')" tappable>
        <div style="width: 30px"><ons-icon icon="fa-comments"></ons-icon></div> Chat
      </ons-list-item>

      <!-- --
      <ons-list-item ng-click="loadMenu('about.html')" tappable>
        <div style="width: 30px"><ons-icon icon="fa-headset"></ons-icon></div> Contato
      </ons-list-item>
      <!-- -->

      <ons-list-item ng-click="loadMenu('views/config.html')" ng-if="usuario" tappable>
        <div style="width: 30px"><ons-icon icon="fa-cog"></ons-icon></div> Configurações
      </ons-list-item>

    </ons-list>
</ons-page>
