<ons-page ng-controller="estoqueController">
  <ons-toolbar>
    <div class="left">
      <ons-toolbar-button ng-if="!myNavigator.topPage.data.back" ng-click="mySplitter.left.open()">
        <ons-icon icon="md-menu"></ons-icon>
      </ons-toolbar-button>
      <div class="left" ng-if="myNavigator.topPage.data.back"><ons-back-button></ons-back-button></div>
    </div>
    <div class="center">
      Tio Bola
    </div>
    <div class="right">
        <ons-toolbar-button>
            <ons-icon icon="fa-beer"></ons-icon>&nbsp;R$ 0,00
        </ons-toolbar-button>
    </div>
  </ons-toolbar>

  <div class="limitador" style="width: 100%;text-align: center;" ng-init="getProduto(myNavigator.topPage.data.idProduto)">

      <img style="width: 90%;max-width: 200px;margin: 10px;border-radius: 10px;" ng-src="{{produto.foto}}">


      <div style="font-size: 24px;margin: 5px;">{{produto.marca}} - {{produto.nome}}</div>
      <div style="font-size: 24px;margin: 5px;">{{produto.valor| currency: 'R$ '}}</div>

      <div style="margin: 5px;" ng-if="produto.estoque>0">{{produto.estoque}} em estoque</div>
      <div style="margin: 5px;" ng-if="!produto.estoque>0">Sem estoque</div>


      <p style="text-align: center;padding: 0px; margin: 15px 0px 5px 0px;font-size: 16px;">
         Comprar
      </p>
      <ons-row>
          <ons-col width="50%" style="text-align: center;">
              <ons-button ng-click="adicionarCarrinho(produto)"
                 style="margin: 5px 5px;font-weight: bold;width: 90%;">
                  <ons-icon size="18px" icon="fa-home" style="margin-right: 15px;"></ons-icon>Estou em Casa
              </ons-button>
          </ons-col>
          <ons-col width="50%" style="text-align: center;">
              <ons-button ng-click="solicitarProduto(produto)"
                  style="margin: 5px 5px;font-weight: bold;width: 90%;">
                  <ons-icon size="18px" icon="fa-beer" style="margin-right: 15px;"></ons-icon>Estou no Bar
              </ons-button>
          </ons-col>
      </ons-row>

      <ons-button modifier="large--quiet" style="margin: 5px;">
          <ons-icon class="far" icon="fa-heart"></ons-icon>&nbsp;Adicionar as favoritas
      </ons-button>

      <ons-row style="font-weight: bold;">
          <ons-col class="cell">
              Cidade
          </ons-col>
          <ons-col class="cell">
              IBU
          </ons-col>
          <ons-col class="cell">
              ABV
          </ons-col>
          <ons-col class="cell">
              Quant.
          </ons-col>
      </ons-row>
      <ons-row>
          <ons-col class="cell">
              {{produto.cidade}}
          </ons-col>
          <ons-col class="cell">
              {{produto.ibu}}
          </ons-col>
          <ons-col class="cell">
              {{produto.abv}}
          </ons-col>
          <ons-col class="cell">
              {{produto.qt}}
          </ons-col>
      </ons-row>
      <div style="text-align: justify;margin: 15px;">{{produto.descricao}}</div>

  </div>

</ons-page?
