<ons-page>
  <ons-toolbar>
    <div class="left">
      <ons-toolbar-button ng-click="mySplitter.left.open()">
        <ons-icon icon="md-menu"></ons-icon>
      </ons-toolbar-button>
    </div>
    <div class="center">
      Tio Bola
    </div>
    <div class="right">
        <ons-toolbar-button>
            <ons-icon icon="fa-beer"></ons-icon>&nbsp;R$ 0,00
        </ons-toolbar-button>
    </div>
  </ons-toolbar>

  <div class="limitador">
  <ons-row>
      <ons-col class="tabeerna-level">
          Lv. 1 - Iniciante
          <ons-progress-bar value="20" secondary-value="100"></ons-progress-bar>
          <span style="float: right;font-size: 10px;">270xp / 2000xp</span>
          <div style="font-size: 14px;padding: 10px;">
              <ons-icon icon="fa-beer"></ons-icon>&nbsp;&nbsp;17&nbsp;&nbsp;
              <ons-icon icon="fa-coins"></ons-icon>&nbsp;&nbsp;57
          </div>
      </ons-col>
      <ons-col width="120px" class="tabeerna-icon">
          <img src="img/tabeerna/LV01.png" width="100px">
      </ons-col>
  </ons-row>

  <ons-row>
      <ons-col style="padding: 5px;">
          <ons-button modifier="large">Rank</ons-button>
      </ons-col>
      <ons-col style="padding: 5px;">
          <ons-button modifier="large">Loja</ons-button>
      </ons-col>
  </ons-row>

  <ons-card>
      Missões semanais
      <ons-row style="text-align: center;margin-top: 10px;font-size: 12px;">
          <ons-col style="min-width: 100px;margin: 5px;">
              <img src="img/tabeerna/beer.png" width="40px" class="quest-icon">
              <div class="quest-label">Beba 5 canecos</div>
              <ons-progress-bar value="70" secondary-value="100"></ons-progress-bar>
              <div class="quest-valor">200xp</div>
          </ons-col>
          <ons-col style="min-width: 100px;margin: 5px;">
              <img src="img/tabeerna/world.png" width="40px" class="quest-icon">
              <div class="quest-label">Beba cerveja de 4 cidades diferentes</div>
              <ons-progress-bar value="75" secondary-value="100"></ons-progress-bar>
              <div class="quest-valor">150xp</div>
          </ons-col>
          <ons-col style="min-width: 100px;margin: 5px;">
              <img src="img/tabeerna/beer-bottle.png" width="40px" class="quest-icon">
              <div class="quest-label">Beba 2 cerveja de garrafa.</div>
              <ons-progress-bar value="0" secondary-value="100"></ons-progress-bar>
              <div class="quest-valor">200xp + 1 gold</div>
          </ons-col>
          <ons-col style="min-width: 100px;margin: 5px;">
              <img src="img/tabeerna/pin.png" width="40px" class="quest-icon">
              <div class="quest-label">Faça 3 checkins no bar</div>
              <ons-progress-bar value="33" secondary-value="100"></ons-progress-bar>
              <div class="quest-valor">350xp + 2 gold</div>
          </ons-col>
      </ons-row>
  </ons-card>
  <p style="padding: 3px 20px;font-size: 20px;">Comquistas</p>

      <ons-row style="text-align: center;margin-top: 10px;font-size: 12px;">
          <ons-col style="min-width: 100px;margin: 5px;">
              <img src="img/tabeerna/hops.png" width="40px" class="quest-icon">
              <br>Maltadas
              <div class="comquista-label">Preferencia para cervejas maltadas</div>
          </ons-col>
          <ons-col style="min-width: 100px;margin: 5px;">
              <img src="img/tabeerna/friends.png" width="40px" class="quest-icon">
              <br>Popular
              <div class="comquista-label">Tem 10 amigos</div>
          </ons-col>
          <ons-col style="min-width: 100px;margin: 5px;">
              <img src="img/tabeerna/party2.png" width="40px" class="quest-icon">
              <br>Festeiro
              <div class="comquista-label">Participou de 5 eventos de rua</div>
          </ons-col>
          <ons-col style="min-width: 100px;margin: 5px;">
              <img src="img/tabeerna/party.png" width="40px" class="quest-icon">
              <br>Aniversariante
              <div class="comquista-label">Comemorou o aniversario no bar</div>
          </ons-col>
          <ons-col style="min-width: 100px;margin: 5px;">
              <img src="img/tabeerna/cash.png" width="40px" class="quest-icon">
              <br>Magnata
              <div class="comquista-label">Gastou mais de 1K</div>
          </ons-col>
      </ons-row>
    </div>

</ons-page?
