<ons-page>
  <ons-toolbar>
    <div class="left">
      <ons-toolbar-button ng-click="mySplitter.left.open()">
        <ons-icon icon="md-menu"></ons-icon>
      </ons-toolbar-button>
    </div>
    <div class="center">
      Tio Bola
    </div>
    <div class="right">
        <ons-toolbar-button>
            <ons-icon icon="fa-beer"></ons-icon>&nbsp;R$ 0,00
        </ons-toolbar-button>
    </div>
  </ons-toolbar>

  <div class="limitador">
    <ons-card style="text-align: center;">
        <p>Já tenho uma conta</p>
        <p>
          <ons-input id="email" modifier="underbar" type="email" placeholder="Email" float ng-model="data.email" style="width: 90%;"></ons-input>
        </p>
        <p>
          <ons-input id="senha" modifier="underbar" type="password" placeholder="Senha" float ng-model="data.senha" style="width: 90%;"></ons-input>
        </p>
        <p>
            <ons-button ng-click="cadastroEntrar(data)">Entrar</ons-button>
        </p>
    </ons-card>
    <ons-card style="text-align: center;">
        <p>Criar minha conta</p>
        <p>
          <ons-input id="nome" modifier="underbar" placeholder="Nome" float ng-model="data.nome" style="width: 90%;"></ons-input>
        </p>
        <p>
          <ons-input id="email" modifier="underbar" type="email" placeholder="Email" float ng-model="data.email" style="width: 90%;"></ons-input>
        </p>
        <p>
          <ons-input id="senha" modifier="underbar" type="password" placeholder="Senha" float ng-model="data.senha" style="width: 90%;"></ons-input>
        </p>
        <p>
          <ons-input id="telefone" modifier="underbar"  placeholder="Telefone" float ng-model="data.telefone" style="width: 90%;"></ons-input>
        </p>
        <p>
          <ons-input id="endereco" modifier="underbar"  placeholder="Rua" float ng-model="data.endereco" style="width: 90%;"></ons-input>
        </p>
        <p>
          <ons-input id="numero" modifier="underbar" type="number" placeholder="Número" float ng-model="data.numero" style="width: 90%;"></ons-input>
        </p>
        <p>
          <ons-input id="bairro" modifier="underbar"  placeholder="Bairro" float ng-model="data.bairro" style="width: 90%;"></ons-input>
        </p>
        <p>
          <ons-input id="cep" modifier="underbar"  placeholder="CEP" type="number" float ng-model="data.cep" style="width: 90%;"></ons-input>
        </p>
        <p>
          <ons-input id="referencia" modifier="underbar"  placeholder="Referencia" float ng-model="data.referencia" style="width: 90%;"></ons-input>
        </p>
        <p>
            <ons-button ng-click="cadastroEnviar(data)">Salvar</ons-button>
        </p>
    </ons-card>
  </div>
  <div class="rodape"></div>

</ons-page>
