<ons-page ng-controller="usuarioController">
  <ons-toolbar>
    <div class="left">
      <ons-toolbar-button ng-click="mySplitter.left.open()">
        <ons-icon icon="md-menu"></ons-icon>
      </ons-toolbar-button>
    </div>
    <div class="center">
      Tio Bola
    </div>
    <div class="right">
        <ons-toolbar-button>
            <ons-icon icon="fa-beer"></ons-icon>&nbsp;R$ 0,00
        </ons-toolbar-button>
    </div>
  </ons-toolbar>

  <div class="limitador" ng-init="usuarioGet()">
      <ons-list>
          <ons-list-header>Usuario</ons-list-header>
          <ons-list-item>
              <ons-row>
                  <ons-col></ons-col>
                  <ons-col width="84px" style="font-size: 22px;">
                      {{data.codigo_unico}}
                  </ons-col>
                  <ons-col></ons-col>
              </ons-row>
          </ons-list-item>
          <ons-list-item>{{usuario.nome}}</ons-list-item>
          <ons-list-item>
              <ons-input id="id" ng-model="data.id_usuario" type="hidden"></ons-input>
              <ons-input id="senha" modifier="underbar" type="password" placeholder="Senha" float ng-model="data.senha" style="width: 90%;"></ons-input>
          </ons-list-item>
          <ons-list-item>
            <ons-input id="telefone" modifier="underbar"  placeholder="Telefone" float ng-model="data.telefone" style="width: 90%;"></ons-input>
          </ons-list-item>
          <ons-list-header>Endereço Entrega</ons-list-header>
          <ons-list-item>
            <ons-input id="nomeEntrega" modifier="underbar" placeholder="Nome Entrega" float ng-model="data.nome_entrega" style="width: 90%;"></ons-input>
          </ons-list-item>
          <ons-list-item>
            <ons-input id="endereco" modifier="underbar"  placeholder="Rua" float ng-model="data.endereco" style="width: 90%;"></ons-input>
          </ons-list-item>
          <ons-list-item>
            <ons-input id="numero" modifier="underbar" type="number" placeholder="Número" float ng-model="data.numero" style="width: 90%;"></ons-input>
          </ons-list-item>
          <ons-list-item>
            <ons-input id="bairro" modifier="underbar"  placeholder="Bairro" float ng-model="data.bairro" style="width: 90%;"></ons-input>
          </ons-list-item>
          <ons-list-item>
            <ons-input id="cep" modifier="underbar"  placeholder="CEP" type="number" float ng-model="data.cep" style="width: 90%;"></ons-input>
          </ons-list-item>
          <ons-list-item>
            <ons-input id="referencia" modifier="underbar"  placeholder="Referencia" float ng-model="data.referencia" style="width: 90%;"></ons-input>
          </ons-list-item>
          <p style="text-align: center;">
              <ons-button ng-click="cadastroEnviar(data)">Salvar</ons-button>
          </p>
          <p style="text-align: center;" ng-click="logout()">
              <ons-button class="vermelho">Sair</ons-button>
          </ons-list-item>
      </ons-list>

  </div>

</ons-page?
