<ons-page ng-controller="eventoController">
  <ons-toolbar>
    <div class="left">
      <ons-toolbar-button ng-click="mySplitter.left.open()">
        <ons-icon icon="md-menu"></ons-icon>
      </ons-toolbar-button>
    </div>
    <div class="center">
      Tio Bola
    </div>
    <div class="right">
        <ons-toolbar-button>
            <ons-icon icon="fa-beer"></ons-icon>&nbsp;R$ 0,00
        </ons-toolbar-button>
    </div>
  </ons-toolbar>

  <div class="limitador" ng-init="initEventos()">

       <div ng-repeat="item in eventos" ng-click="load('evento-detalhes.html', {idEvento: item.id_evento, back: true})">
         <img ng-src="{{item.foto}}" width="100%">
         <div class="novidades-label">
             <ons-row style="text-align: center;">
                 <ons-col>
                     {{item.nome}}
                 </ons-col>
                 <ons-col width="150px">
                     {{formatDtSQL2BR(item.dt_evento,'d')}}
                </ons-col>
             </ons-row>
         </div>
       </div>

   </div>
</ons-page?
