<ons-page ng-controller="estoqueController">
  <ons-toolbar>
    <div class="left">
      <ons-toolbar-button ng-click="mySplitter.left.open()">
        <ons-icon icon="md-menu"></ons-icon>
      </ons-toolbar-button>
    </div>
    <div class="center">
      Tio Bola
    </div>
    <div class="right">
        <ons-toolbar-button>
            <ons-icon icon="fa-beer"></ons-icon>&nbsp;R$ 0,00
        </ons-toolbar-button>
    </div>
  </ons-toolbar>

  <div class="limitador">
      <ons-list ng-init="initTiposList()">

         <section ng-repeat="item in produtoTipo">

             <ons-list-header ng-if="item.head==1">{{item.categoria}}</ons-list-header>

             <ons-list-item modifier="chevron" tappable ng-click="load('lista-produtos.html', {idTipo: item.id_tipo, tipo: item.tipo, back: true})">
              <div class="left">
                <img class="list-item__thumbnail" ng-src="img/tipos/{{item.tipo.replace('/', '-')}}.png">
              </div>
              <div class="center">
                <span class="list-item__title">{{item.tipo}}</span><span class="list-item__subtitle">{{item.descricao}}</span>
              </div>
            </ons-list-item>

         </section>

      </ons-list>
  </div>
  <div class="rodape"></div>
</ons-page>
