<ons-page>
  <ons-toolbar>
    <div class="left">
      <ons-toolbar-button ng-click="mySplitter.left.open()">
        <ons-icon icon="md-menu"></ons-icon>
      </ons-toolbar-button>
    </div>
    <div class="center">
      Tio Bola
    </div>
    <div class="right">
        <ons-toolbar-button>
            <ons-icon icon="fa-beer"></ons-icon>&nbsp;R$ 0,00
        </ons-toolbar-button>
    </div>
  </ons-toolbar>

  <div class="limitador" ng-init="initHome()">

    <ons-carousel var="carousel" swipeable auto-scroll overscrollable>
        <ons-carousel-item style="text-align: center;" ng-repeat="item in homeCarrosel"
                           ng-click="load('produto.html', {idProduto: item.id_produto, back: true})">
             <img ng-src="{{item.foto}}" width="100%">
             <div class="carrosel-label">{{item.msg}}</div>
        </ons-carousel-item>
     </ons-carousel>
     <div class="carrosel-left" ng-click="carousel.prev()"><ons-icon icon="fa-chevron-left" size="16px"></ons-icon></div>
     <div class="carrosel-right" ng-click="carousel.next()"><ons-icon icon="fa-chevron-right" size="16px"></ons-icon></div>

       <div ng-repeat="item in homeBanners" ng-click="load('produto.html', {idProduto: item.id_produto, back: true})">
         <img ng-src="{{item.foto}}" width="100%">
         <div class="novidades-label">{{item.msg}}</div>
       </div>

       <div class="novidades-rodape">
           Compras acima de 50 reais, o frete é por nossa conta.
           <br><br>
           Horario de atendimento<br>
           Dom à Qui 18:00 até 00:00<br>
           Sex à Sab 18:00 até 03:00
       </div>
   </div>
</ons-page?
