<ons-page ng-controller="usuarioController">
  <ons-toolbar>
    <div class="left">
      <ons-toolbar-button ng-click="mySplitter.left.open()">
        <ons-icon icon="md-menu"></ons-icon>
      </ons-toolbar-button>
    </div>
    <div class="center">
      Tio Bola
    </div>
    <div class="right">
        <ons-toolbar-button>
            <ons-icon icon="fa-beer"></ons-icon>&nbsp;R$ 0,00
        </ons-toolbar-button>
    </div>
  </ons-toolbar>

  <div class="limitador" ng-init="usuarioGet()">

          <p style="text-align: center;margin-top: 60px;">

              <ons-icon icon="fa-coffee" size="15px"></ons-icon>
              <ons-icon icon="fa-laptop" size="50px"></ons-icon>
              <ons-icon icon="fa-user-clock" size="40px"></ons-icon>
          </p>
          <p style="text-align: center;">
              Rotina em Desenvolvimento...
          </p>
          <p style="text-align: center;">
              Aguarde Novidades
          </p>
  </div>

</ons-page?
