<ons-page ng-controller="estoqueController">
  <ons-toolbar>
    <div class="left">
      <ons-toolbar-button ng-click="mySplitter.left.open()">
        <ons-icon icon="md-menu"></ons-icon>
      </ons-toolbar-button>
    </div>
    <div class="center">
      Tio Bola
    </div>
    <div class="right">
        <ons-toolbar-button>
            <ons-icon icon="fa-beer"></ons-icon>&nbsp;R$ 0,00
        </ons-toolbar-button>
    </div>
  </ons-toolbar>

  <div class="limitador" ng-init="getPedidos()">

<p style="text-align: center;" ng-if="pedidos.length==0">
    Nenhum pedido Encontrado.
</p>

  <ons-card ng-repeat="item in pedidos">
      <ons-row style="padding: 5px 0px;">
          <ons-col width="50px">
              #{{item.id_comanda}}
          </ons-col>
          <ons-col width="140px">
              {{formatDtHrSQL2BR(item.dh_abertura,'d')}}
          </ons-col>
          <ons-col ng-if="item.fl_situacao=='A'" style="text-align: center;background-color: #1d1d1d;padding: 3px;color: #ffa101;margin-top: -5px;">
              Pendente
          </ons-col>
          <ons-col ng-if="item.fl_situacao=='V'" style="text-align: center;background-color: #1d1d1d;padding: 3px;color: #01c4ff;margin-top: -5px;">
              Pedido Aceito
          </ons-col>
          <ons-col ng-if="item.fl_situacao=='D'" style="text-align: center;background-color: #1d1d1d;padding: 3px;color: #63ff01;margin-top: -5px;">
              Pedido a Caminho
          </ons-col>
          <ons-col ng-if="item.fl_situacao=='F'" style="text-align: center;background-color: #1d1d1d;padding: 3px;color: #d8cfff;margin-top: -5px;">
              Pedido Encerrado
          </ons-col>
          <ons-col ng-if="item.fl_situacao=='R'" style="text-align: center;background-color: #1d1d1d;padding: 3px;color: #ff1414;margin-top: -5px;">
              Pedido Cancelado
          </ons-col>
      </ons-row>
      <ons-row style="font-size: 14px;" ng-repeat="reg in item.itens">
          <ons-col>
             {{reg.qt}}X - {{reg.nome}}
          </ons-col>
          <ons-col width="100px">
              {{(reg.qt*reg.valor)| currency: 'R$ '}}
          </ons-col>
          <ons-col width="50px">
              &nbsp;
          </ons-col>
      </ons-row>
      <ons-row style="font-size: 14px;">
          <ons-col style="text-align: right;">
              Total&nbsp;&nbsp;
          </ons-col>
          <ons-col width="100px">
              {{item.valor| currency: 'R$ '}}
          </ons-col>
      </ons-row>
      <ons-row style="font-size: 14px;" ng-if="item.fl_situacao=='R'">
          <ons-col style="text-align: left;">
              Motivo: {{item.justificativa}}
          </ons-col>
      </ons-row>
  </ons-card>

<!--
  <ons-card>
      <ons-row style="padding: 5px 0px;">
          <ons-col width="50px">
              #502
          </ons-col>
          <ons-col width="140px">
              02/05/2020 20:30
          </ons-col>
          <ons-col style="text-align: center;background-color: #1d1d1d;padding: 3px;color: #01ff20;margin-top: -5px;">
              Entregue
          </ons-col>
      </ons-row>
      <ons-row style="font-size: 14px;">
          <ons-col>
              2X IPA Oldwest Turbina
          </ons-col>
          <ons-col width="100px">
              R$ 26,00
          </ons-col>
          <ons-col width="50px">
              &nbsp;
          </ons-col>
      </ons-row>
      <ons-row style="font-size: 14px;">
          <ons-col>
              2X APA Urwald Ocelot
          </ons-col>
          <ons-col width="100px">
              R$ 28,00
          </ons-col>
          <ons-col width="50px">
              &nbsp;
          </ons-col>
      </ons-row>
      <ons-row style="font-size: 14px;">
          <ons-col style="text-align: right;">
              Total&nbsp;&nbsp;
          </ons-col>
          <ons-col width="100px">
              R$ 54,00
          </ons-col>
      </ons-row>
  </ons-card>
-->
  </div>
</ons-page>
