.limitador{
    max-width: 600px;
    margin: auto;
}

.cor-detalhe{
    color: #ffa101;
}

.font-vermelha{
    color: #f10909;
}
.vermelho{
    background-color: #A10909;
}
.font-verde{
    color: #09f109;
}

.rodape{
    width: 100%;
    height: 80px;
}

.cell{
    background-color: #424242;
    margin: 3px;
    padding: 3px;
}

.container{
    width: 100%;
    text-align: center;
}
.menu-bio{
    width: 100%;
    padding: 5px 10px;
    height: 30px;
}
.menu-img-bio{
    width: 25px;
    border-radius: 100%;
    border: solid white 1px;
    margin-right: 10px;
}
.carrosel-label{
    background-color: #101010b8;
    background-image: linear-gradient(to top, #0000009c , #ffffff4d);
    width: 100%;
    margin-top: -4px;
    height: 25px;
    font-size: 21px;
    padding: 5px;
}
.carrosel-left{
    background-image: linear-gradient(to right, #00000061 , #ffffff4d);
    position: absolute;
    top: 69px;
    width: 14px;
    height: 19px;
    padding: 27px 10px;
    border-radius: 0px 5px 5px 0px;
}
.carrosel-right{
    background-image: linear-gradient(to left, #00000061 , #ffffff4d);
    position: absolute;
    top: 69px;
    width: 14px;
    height: 19px;
    padding: 27px 10px;
    border-radius: 5px 0px 0px 5px;
    right: 0px;
}
.novidades-rodape{
    text-align: center;
    width: 100%;
    height: 80px;
    padding: 20px 0px;
}
.novidades-label{
    position: relative;
    background-color: #101010b8;
    background-image: linear-gradient(to top, #000000b0 , #ffffff24);
    width: 100%;
    margin: 0px;
    height: 19px;
    font-size: 18px;
    padding: 7px 0px;
    bottom: 34px;
    margin-bottom: -33px;
    text-align: center;
}

.carrinho{
    display: none;
    position: absolute;
    height: 75px;
    bottom: 0px;
    width: 100%;
    z-index: 999;
    background-color: #5a5a5a;
}


/*     Estilos referente a Tabeerna    */
.tabeerna-level{
    font-size: 16px;
    padding: 30px 10px;
}
.tabeerna-icon{
    padding: 10px;
}
.progress-bar--material{
    height: 10px;
}
.quest-icon{
    border: solid 3px white;
    border-radius: 10px;
}
.quest-label{
    width: 90%;
    height: 30px;
    background-color: #585858;
    padding: 5%;
    border-radius: 10px 10px 0px 0px;
}
.quest-valor{
    width: 100%;
    height: 14px;
    background-color: #2d2d2d;
    padding: 0px;
    color: #d68600;
    border-radius: 0px 0px 10px 10px;
}
.comquista-label{
    width: 100%;
    height: 30px;
    background-color: #585858;
    padding: 4px;
    border-radius: 10px;
}
